## Bootcamp Homework 6 [pn2330@nyu.edu]

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error
import warnings
warnings.filterwarnings('ignore')
pd.set_option("display.max_columns", 101)

In [3]:
data = pd.read_csv("/Users/pranav/Desktop/Datascience_Bootcamp_Spring_2025/Homework_6_pn2330/employee.csv")

In [4]:
data.shape

(4277, 13)

In [5]:
data.head()

,id,timestamp,country,employment_status,job_title,job_years,is_manager,hours_per_week,telecommute_days_per_week,education,is_education_computer_related,certifications,salary
0,1,12/11/2018 10:52:26,Slovenia,Full time,Developer,4.78393,Yes,40.0,0.0,Bachelors (4 years),Yes,No,7187.743094
1,2,1/5/2017 16:57:50,United States,Full time,DBA,5.00000,No,40.0,5.0,Bachelors (4 years),Yes,No,10000.000000
2,3,12/18/2017 8:13:15,Sweden,Full time,DBA,1.00000,No,40.0,0.0,Masters,Yes,Yes,7000.000000
3,4,12/27/2018 4:56:52,United States,Full time,DBA,1.00000,No,40.0,2.0,Bachelors (4 years),No,No,8333.000000
4,5,12/11/2018 14:07:58,United States,Full time,Developer,3.00000,No,40.0,2.0,Masters,Yes,Yes,7137.000000

In [6]:
# dropping id, timestamp and country columns
data = data.drop(columns=['id', 'timestamp','country'])

In [7]:
data.columns

Index(['employment_status', 'job_title', 'job_years', 'is_manager',
       'hours_per_week', 'telecommute_days_per_week', 'education',
       'is_education_computer_related', 'certifications', 'salary'],
      dtype='object')

In [8]:
# replacing NANs in hours_per_week with median value of the column
data.loc[data['hours_per_week'].isna(), 'hours_per_week'] = data['hours_per_week'].median()
data.loc[data['telecommute_days_per_week'].isna(), 'telecommute_days_per_week'] = data['telecommute_days_per_week'].median()

In [9]:
#Handling null values in categorical columns
data = data.dropna()

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4261 entries, 0 to 4276
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   employment_status              4261 non-null   object
 1   job_title                      4261 non-null   object
 2   job_years                      4261 non-null   float64
 3   is_manager                     4261 non-null   object
 4   hours_per_week                 4261 non-null   float64
 5   telecommute_days_per_week      4261 non-null   float64
 6   education                      4261 non-null   object
 7   is_education_computer_related  4261 non-null   object
 8   certifications                 4261 non-null   object
 9   salary                         4261 non-null   float64
dtypes: float64(4), object(6)
memory usage: 366.2+ KB

###Data Visualization :

In [12]:
data_train = data.copy()
data_train.head()

,employment_status,job_title,job_years,is_manager,hours_per_week,telecommute_days_per_week,education,is_education_computer_related,certifications,salary
0,Full time,Developer,4.78393,Yes,40.0,0.0,Bachelors (4 years),Yes,No,7187.743094
1,Full time,DBA,5.00000,No,40.0,5.0,Bachelors (4 years),Yes,No,10000.000000
2,Full time,DBA,1.00000,No,40.0,0.0,Masters,Yes,Yes,7000.000000
3,Full time,DBA,1.00000,No,40.0,2.0,Bachelors (4 years),No,No,8333.000000
4,Full time,Developer,3.00000,No,40.0,2.0,Masters,Yes,Yes,7137.000000

In [13]:
# selecting categorical features
cat_cols = [c for c in data_train.columns if data_train[c].dtype == 'object'
            and c not in ['is_manager', 'certifications']]
cat_data = data_train[cat_cols]
cat_cols

['employment_status',
 'job_title',
 'education',
 'is_education_computer_related']

In [14]:
#Encoding binary variables
binary_cols = ['is_manager', 'certifications']
for c in binary_cols:
    data_train[c] = data_train[c].replace(to_replace=['Yes'], value=1)
    data_train[c] = data_train[c].replace(to_replace=['No'], value=0)

In [15]:
final_data = pd.get_dummies(data_train, columns=cat_cols, drop_first= True,dtype=int)
final_data.shape

(4261, 25)

In [16]:
final_data.columns

Index(['job_years', 'is_manager', 'hours_per_week',
       'telecommute_days_per_week', 'certifications', 'salary',
       'employment_status_Independent or freelancer or company owner',
       'employment_status_Part time', 'job_title_Analytics consultant',
       'job_title_Architect', 'job_title_DBA', 'job_title_Data Scientist',
       'job_title_Developer', 'job_title_Engineer', 'job_title_Manager',
       'job_title_Other', 'job_title_Principal database engineer',
       'job_title_Sales', 'job_title_Sr Consultant ',
       'education_Bachelors (4 years)', 'education_Doctorate/PhD',
       'education_Masters', 'education_None (no degree completed)',
       'is_education_computer_related_Unknown',
       'is_education_computer_related_Yes'],
      dtype='object')

In [17]:
final_data

,job_years,is_manager,hours_per_week,telecommute_days_per_week,certifications,salary,employment_status_Independent or freelancer or company owner,employment_status_Part time,job_title_Analytics consultant,job_title_Architect,job_title_DBA,job_title_Data Scientist,job_title_Developer,job_title_Engineer,job_title_Manager,job_title_Other,job_title_Principal database engineer,job_title_Sales,job_title_Sr Consultant,education_Bachelors (4 years),education_Doctorate/PhD,education_Masters,education_None (no degree completed),is_education_computer_related_Unknown,is_education_computer_related_Yes
0,4.783930,1,40.0,0.0,0,7187.743094,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
1,5.000000,0,40.0,5.0,0,10000.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
2,1.000000,0,40.0,0.0,1,7000.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1
3,1.000000,0,40.0,2.0,0,8333.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,3.000000,0,40.0,2.0,1,7137.000000,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,2.000000,1,40.0,0.0,0,4917.000000,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
4273,4.140793,1,40.0,0.0,0,7033.845701,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4274,5.000000,0,40.0,0.0,0,7166.000000,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0
4275,4.000000,1,40.0,2.0,0,9583.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
4276,1.000000,0,40.0,5.0,1,9166.000000,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0

## Train Test Split

In [19]:
y = final_data['salary']
X = final_data.drop(columns=['salary'])

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
print("Training Set Dimensions:", X_train.shape)
print("Validation Set Dimensions:", X_test.shape)

Training Set Dimensions: (3408, 24)
Validation Set Dimensions: (853, 24)

## Pre-processing data

In [21]:
# selecting numerical features
num_cols = ['job_years','hours_per_week','telecommute_days_per_week']
num_cols

['job_years', 'hours_per_week', 'telecommute_days_per_week']

In [22]:
# Applying standard scaling on numeric data
scaler = StandardScaler()
scaler.fit(X_train[num_cols])
X_train[num_cols] = scaler.transform(X_train[num_cols])

In [23]:
X_train

,job_years,is_manager,hours_per_week,telecommute_days_per_week,certifications,employment_status_Independent or freelancer or company owner,employment_status_Part time,job_title_Analytics consultant,job_title_Architect,job_title_DBA,job_title_Data Scientist,job_title_Developer,job_title_Engineer,job_title_Manager,job_title_Other,job_title_Principal database engineer,job_title_Sales,job_title_Sr Consultant,education_Bachelors (4 years),education_Doctorate/PhD,education_Masters,education_None (no degree completed),is_education_computer_related_Unknown,is_education_computer_related_Yes
3896,-0.244386,0,2.385064,-0.017979,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3667,-1.250668,1,2.385064,-0.017979,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0
3031,0.258755,0,-0.482620,2.408654,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0
3209,-0.244386,1,-0.482620,-0.624637,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
697,-0.244386,0,-0.482620,-0.624637,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
805,0.258755,1,-0.482620,2.408654,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0
2414,2.774459,0,-0.482620,-0.624637,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1
2710,0.258755,0,-0.482620,-0.624637,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
1665,0.258755,0,-0.482620,-0.624637,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0
1865,0.065066,0,-0.017958,-0.017979,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1

In [24]:
#Fitting a Linear Regression Model
reg=LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

In [25]:
reg.coef_

array([ 1.75463988e+02,  3.76835523e+01,  2.00301945e+02,  2.16241961e+02,
        7.06905499e+01,  6.23180579e+01,  1.03884432e+02, -1.93267624e-12,
        1.24929638e+03,  9.62954083e+02,  8.45426864e+02,  6.70500904e+02,
        1.09857703e+03,  9.58470070e+02,  1.09065228e+02,  1.04758951e+03,
        8.16964243e+02,  3.66294929e+03,  3.51545676e+02, -2.35653812e+02,
        1.76338669e+02,  1.84222862e+02, -3.10240046e+02, -1.70130834e+02])

In [26]:
reg.intercept_

6052.645498017708

In [27]:
# Normalized MSE (Dividing by mean)
mean_squared_error(y_train,reg.predict(X_train))/np.mean(y_train)

207.17314584313024

In [28]:
y_pred = reg.predict(X_test)

In [29]:
#Evaluating the model on test data
mse = mean_squared_error(y_pred, y_test)/np.mean(y_test)
print("Mean Squared Error:", mse)

Mean Squared Error: 12337.647407044728

In [30]:
scaler.fit(X_test[num_cols])
X_test[num_cols] = scaler.transform(X_test[num_cols])

In [31]:
X_test

,job_years,is_manager,hours_per_week,telecommute_days_per_week,certifications,employment_status_Independent or freelancer or company owner,employment_status_Part time,job_title_Analytics consultant,job_title_Architect,job_title_DBA,job_title_Data Scientist,job_title_Developer,job_title_Engineer,job_title_Manager,job_title_Other,job_title_Principal database engineer,job_title_Sales,job_title_Sr Consultant,education_Bachelors (4 years),education_Doctorate/PhD,education_Masters,education_None (no degree completed),is_education_computer_related_Unknown,is_education_computer_related_Yes
1058,-0.115463,0,-0.510879,-0.632871,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1410,0.433278,0,-0.600090,0.576175,1,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
198,0.269360,1,-0.299886,-0.632871,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,1
2851,0.270745,0,-0.510879,-0.028348,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1
811,-0.227825,0,-0.510879,-0.632871,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2808,-0.607300,1,0.632808,-0.632871,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1
1832,-1.723534,0,2.276968,-0.632871,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
152,-0.063055,0,0.031864,-0.632871,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
2968,-1.224964,0,0.604260,-0.632871,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1
3164,2.763593,0,2.276968,2.389742,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,1,0

In [32]:
y_hat = reg.predict(X_test)

In [33]:
y_hat

array([6656.71642335, 7580.57245134, 6980.52373301, 7136.06021189,
       7294.30039227, 7475.07103461, 6873.61720085, 6673.48517514,
       7592.11990125, 6673.48517514, 7024.46595911, 6377.7671093 ,
       6800.36488794, 7259.3388177 , 5557.44617781, 6304.78858896,
       6391.14659889, 6901.06560582, 7225.09145545, 7031.78875445,
       6545.73626816, 6672.22941418, 7242.44547838, 7163.50861686,
       6358.25245314, 6282.03698043, 7138.34567113, 7179.05735679,
       7707.13360232, 7043.02061558, 6761.54999517, 7441.98813502,
       7180.98835221, 5971.655028  , 7044.81793285, 6844.6507783 ,
       7360.98806469, 6765.18754677, 6852.66313798, 7446.25707962,
       6854.03412775, 6579.54236013, 7057.63194505, 6608.23531735,
       7616.99940693, 7193.79341869, 7324.25419624, 6877.88990879,
       7864.95606163, 7005.33706325, 6873.37220079, 7764.16523604,
       7511.08418834, 6871.05543786, 8078.17238754, 7057.63194505,
       6405.45185698, 7585.91206599, 7075.36558068, 7057.63194505,
       7478.24008004, 7031.03859694, 7786.02899628, 6569.28889093,
       7057.63194505, 7038.5366029 , 6506.9062554 , 7616.75440688,
       7508.35645793, 6901.06560582, 8032.01222084, 7515.97457897,
       7439.19965353, 6983.47043586, 6963.57543261, 7208.66743667,
       7472.44206862, 6585.74938605, 6494.10165075, 6557.21312934,
       6909.39149823, 7376.15417654, 6895.77512571, 7053.55237045,
       7169.0364431 , 6432.04857334, 6961.09820453, 7441.98813502,
       7453.9806311 , 6627.26604063, 7150.26747809, 6907.04584907,
       5598.52512675, 7015.6320684 , 5511.04412307, 6303.86737209,
       7421.98578354, 6882.74161668, 7546.71279745, 7483.36585111,
       6784.15910966, 7288.46773755, 7296.30120854, 6501.11746154,
       7263.55574299, 6871.05543786, 7732.45317285, 7278.13740776,
       6987.54989573, 6655.41304854, 7658.33808745, 6863.56147715,
       5511.04412307, 6863.70699197, 7192.56158193, 8038.997429  ,
       7689.39522624, 6928.99109353, 7342.1905082 , 7305.62591114,
       7180.29907061, 7716.76300499, 7651.22925493, 7169.25975153,
       7204.19835688, 7516.68576554, 6841.65900838, 7192.56158193,
       6697.33379515, 6809.10585318, 7284.51478646, 7365.59727645,
       6712.88388426, 6333.51998384, 7813.32218332, 6186.68258772,
       7169.0364431 , 7109.22715283, 8197.73579462, 7206.0006043 ,
       7428.79383867, 7342.1905082 , 7029.23634953, 7451.8539079 ,
       7337.47391044, 7263.55574299, 7169.0364431 , 7660.6507725 ,
       7005.33706325, 7350.32630419, 7114.95909592, 6640.4049305 ,
       6075.2353592 , 7071.19643959, 7347.6863764 , 7635.41495343,
       6919.74939582, 7358.77607594, 6893.15470916, 6129.84080419,
       6971.38658563, 7250.98962054, 7117.22616347, 7311.02221924,
       6792.56300051, 6947.64055828, 6694.99517037, 7167.73744661,
       6712.88388426, 7261.98316993, 6519.52957702, 7091.82135316,
       7118.87345117, 7141.15368998, 7553.12565783, 7765.16547283,
       6250.87015375, 7246.15844695, 6417.21374962, 6800.28379656,
       6967.82190502, 6785.38603966, 7197.74552157, 7078.16365858,
       8071.84381958, 6435.32405581, 6399.02176014, 7658.95280642,
       7087.46679684, 7008.14508211, 7446.35093534, 6938.50415809,
       7348.92124487, 6252.23557679, 7540.4024911 , 7076.02761318,
       6575.36042917, 7698.92181798, 6809.65035142, 6549.23143497,
       6934.20372417, 6541.02222784, 6697.90503598, 7213.82423654,
       7175.46789702, 6492.39050575, 6798.56227313, 7631.82042568,
       6842.2792125 , 7311.39408509, 6269.02603055, 5914.1275303 ,
       6970.49572171, 7189.54084915, 7717.08863127, 7140.6204227 ,
       7642.16235266, 7271.29507226, 7762.92352221, 7116.00140619,
       7296.30120854, 7917.57535257, 6831.0310531 , 7172.83254886,
       6704.57536325, 6536.30021517, 6035.3811108 , 7164.42857794,
       6951.98113514, 6956.543014  , 6417.21374962, 6475.27090269,
       7398.50322292, 7675.15856175, 7246.15844695, 7224.8464554 ,
       6506.15257487, 6866.00499175, 7210.04467462, 7341.98562218,
       7279.3579866 , 7497.64276513, 7509.94140758, 7674.70672167,
       7048.90835751, 6745.73626299, 7411.07432598, 6988.5466095 ,
       7136.06021189, 7719.25359012, 6535.31547716, 6765.18754677,
       7562.75153748, 6928.99109353, 6914.29758281, 7169.0364431 ,
       6120.85322243, 6640.4049305 , 7397.27982467, 7429.73157019,
       7076.02761318, 7031.5437544 , 7114.95909592, 6494.10165075,
       6762.16548906, 7153.08993719, 7381.78139595, 7703.05674168,
       6586.8960926 , 6743.22654676, 7141.13065703, 7307.40712998,
       6697.90503598, 5779.93996942, 6993.87321294, 6899.96211242,
       6409.04170735, 7467.17137458, 7605.32089524, 6861.72654746,
       7547.96832012, 7254.89270713, 6895.77512571, 8022.72821889,
       7136.06021189, 6726.10359846, 7167.73744661, 6741.27239049,
       7759.60335718, 7321.08156997, 7408.93984668, 7162.09773436,
       7163.50861686, 7218.71004198, 7795.61988573, 7249.09794886,
       7057.63194505, 5862.58979951, 6199.31282024, 7136.06021189,
       6883.01471803, 6768.59558591, 7096.3097402 , 6914.29758281,
       6933.44246471, 6724.48193674, 6712.88388426, 7388.7862439 ,
       7183.56906852, 6496.81170221, 7228.44101593, 6709.14358543,
       7169.0364431 , 7169.0364431 , 6203.48563781, 6909.39149823,
       8131.87641828, 7993.0712055 , 6409.41071702, 6766.74541411,
       7178.64356458, 6738.06287863, 7169.0364431 , 7087.98689334,
       7427.82569131, 7169.0364431 , 6765.18754677, 7140.09877296,
       5517.25195833, 6100.41531214, 7459.47679382, 7973.32349682,
       8096.35782481, 5774.86379578, 7454.64562023, 7940.12395717,
       5914.1275303 , 7355.26107797, 6537.67687684, 7054.066379  ,
       6704.5178971 , 7246.15844695, 7047.80632971, 7192.56158193,
       7344.73556788, 7228.80685471, 7184.82149548, 6896.33659309,
       7175.46789702, 7264.03977547, 7682.85209269, 7140.09877296,
       7558.91707767, 6235.9844488 , 6186.68258772, 7252.1454115 ,
       7375.15746277, 6988.5466095 , 7169.0364431 , 7296.30120854,
       6872.51326857, 7180.05407056, 7899.77419011, 7230.13355385,
       7998.24340404, 6494.10165075, 6854.03412775, 7213.82423654,
       6618.84757417, 6895.77512571, 6462.0389257 , 7029.38534159,
       6697.90503598, 6343.23696286, 7209.55878067, 6806.27913823,
       7357.06857584, 7104.05661638, 6719.65076315, 7370.10394183,
       7169.0364431 , 6557.21312934, 7245.82929765, 6821.7432098 ,
       7037.70645259, 7002.10773579, 7546.9577975 , 6771.33248043,
       5850.63051935, 5816.40149614, 6450.44087322, 6768.59558591,
       7263.55574299, 7696.63635874, 7449.91593455, 8457.62640073,
       6930.3545634 , 7015.6320684 , 6304.8259915 , 7459.47679382,
       7266.78336052, 7091.50189131, 7734.42434454, 7063.11585651,
       7256.0318681 , 7496.8859224 , 7725.82289146, 6765.18754677,
       7603.68226086, 8419.77440675, 7376.88159558, 7239.35814049,
       6863.39156771, 6820.22708081, 7289.4005919 , 6509.76860635,
       7187.40790313, 7254.89270713, 6450.44087322, 7317.88605171,
       6247.93102806, 6917.85605957, 7685.98858997, 6739.35923865,
       7173.74376421, 7908.84109238, 7313.54050344, 6765.18754677,
       7242.75832031, 7778.13621923, 8309.11608457, 7091.07119565,
       7198.44858413, 6448.81921149, 6506.15257487, 6677.70113062,
       6287.07691834, 6868.76394608, 7606.99039621, 7184.82149548,
       7862.44408177, 7206.75076181, 6544.68875579, 7762.84289599,
       6392.26959264, 7344.30238512, 7920.78109849, 7175.46789702,
       7340.74390836, 7519.31353782, 7446.35093534, 7070.95143954,
       6983.71543591, 7475.07103461, 6992.46521856, 7710.32558748,
       6846.53914173, 6542.81255966, 7350.32630419, 6405.45185698,
       7362.36991049, 7342.1905082 , 7015.72715267, 7912.40602443,
       6738.06287863, 7169.0364431 , 6533.09070331, 7403.69460602,
       6933.6729845 , 7169.0364431 , 7189.54084915, 7644.67394853,
       7205.07476799, 6418.67157119, 8218.90012348, 6856.82674709,
       6655.41304854, 7296.30120854, 7023.72936314, 6695.96132108,
       7311.02221924, 7296.30120854, 7527.90996026, 7057.63194505,
       7057.63194505, 5730.14251807, 6936.82010732, 7214.25364282,
       7658.95280642, 7496.8859224 , 6691.47493913, 6870.81043781,
       6842.2792125 , 7542.45834855, 6813.49036018, 7109.22715283,
       7152.04476655, 7180.29907061, 6590.22012694, 7015.72715267,
       6930.3545634 , 6640.75404058, 7674.43419533, 7263.55574299,
       7267.90774817, 7201.91958822, 7000.26088961, 7399.79196839,
       7005.33706325, 7078.18382849, 6941.90433791, 6915.11247452,
       7350.32630419, 7649.05558058, 6871.05543786, 6627.89698873,
       7042.38137893, 6563.08941442, 6216.38636842, 6886.24027853,
       6980.52373301, 7230.13355385, 7047.8290507 , 8337.17920851,
       5647.46994951, 6930.3545634 , 6186.68258772, 8257.79937633,
       7866.52219246, 7781.95240357, 6428.57424582, 7118.87345117,
       7487.50579703, 5952.99170319, 7205.09525578, 7000.50588966,
       7100.9673724 , 6689.45638409, 7333.63945063, 7615.89718265,
       6933.44246471, 6798.56227313, 7285.66264212, 7977.90248241,
       6250.19736655, 7062.80789897, 6784.15910966, 6681.11458223,
       6953.61056108, 6673.48517514, 6602.76987931, 6650.77318964,
       6765.18754677, 6581.16402185, 7635.41495343, 7263.55574299,
       7344.73556788, 5963.98090873, 6901.06560582, 7331.67031776,
       7307.40712998, 6839.61982401, 7876.89001304, 6763.52351472,
       6856.82674709, 6697.03353177, 5862.58979951, 7071.19643959,
       7169.0364431 , 6463.41558737, 6696.0934305 , 7713.62870797,
       7437.19017735, 7874.57284176, 7826.19126229, 7350.42990438,
       7899.77419011, 7862.98057193, 6770.92500223, 7509.94140758,
       7398.50322292, 5729.24827539, 7005.33706325, 7700.99956918,
       6713.69405712, 5867.4209731 , 8062.73610825, 6602.76987931,
       7368.5091036 , 6697.90503598, 7032.40939387, 7421.12045431,
       7938.13052963, 6786.13619717, 6854.03412775, 8053.66920597,
       6901.06560582, 7087.46679684, 7487.41593367, 6124.7878105 ,
       7230.13355385, 7817.0741929 , 6495.66208239, 7350.32630419,
       6584.37272438, 6039.51120922, 6087.92343913, 7370.75407632,
       6956.95685334, 7057.63194505, 7229.75976034, 6778.74326059,
       6494.10165075, 6831.47202489, 8473.35417014, 7175.46789702,
       7484.66805098, 7173.74376421, 7183.14128139, 6646.05097909,
       7045.02073145, 7114.43858454, 6820.62908837, 7475.05213366,
       6765.18754677, 7096.3097402 , 6961.09820453, 6187.75286213,
       6783.47288782, 6117.1340019 , 7058.53545879, 7554.8801386 ,
       7076.02761318, 8146.36213878, 7334.19990368, 7064.64113319,
       6873.61720085, 6704.57536325, 6798.56227313, 6742.89405222,
       6425.90968066, 7679.84590499, 6537.9218769 , 7468.94877279,
       7524.4091929 , 7243.17065467, 7299.0107913 , 8223.80003974,
       7322.57780679, 6721.63309354, 6521.13142314, 7167.73744661,
       7136.06021189, 7189.54084915, 7415.8138595 , 6712.88388426,
       6417.21374962, 6708.30551266, 7057.63194505, 6741.27239049,
       7053.65663766, 7267.78007429, 6841.65900838, 6819.65614038,
       6741.14718093, 8327.13308018, 6973.07332728, 7156.09783669,
       6243.56468983, 6858.72008334, 6046.93175145, 6990.35791458,
       6496.81170221, 6767.388064  , 6625.40288058, 7616.38791339,
       6866.14545638, 7410.08113523, 7473.38879346, 7940.12395717,
       7513.43263157, 7163.50861686, 6608.51771995, 7023.3994045 ,
       7898.2655306 , 6863.56147715, 6712.88388426, 6519.50976142,
       7169.0364431 , 7169.0364431 , 7408.1927718 , 7513.43263157,
       6806.27913823, 7250.98962054, 6828.36636896, 7263.55574299,
       7681.68680595, 7119.26975813, 7722.5658583 , 6494.10165075,
       6934.02014541, 7271.85380566, 7528.22965778, 7898.22536258,
       7005.33706325, 6407.79999352, 7504.63561363, 6966.25852742,
       7334.19990368, 7692.23297229, 7287.1689339 , 7642.16235266,
       6656.97949639, 7288.67317286, 7058.53545879, 8029.7699197 ,
       7509.94140758, 6765.18754677, 7371.99579014, 7169.0364431 ,
       6724.48193674, 6704.57536325, 7643.43710691, 7786.88524065,
       6380.36842302, 6813.58460214, 7605.24322453, 7244.43431413,
       6843.93618219, 7473.09685945, 6820.62908837, 6547.14426254,
       6883.01471803, 7996.35307906, 7252.1454115 , 5888.79649066,
       7579.33234897, 6809.10585318, 6856.07658959, 5871.9697441 ,
       6506.15257487, 7193.98782842, 7044.81793285, 7687.07617242,
       7530.77661144, 7472.70877082, 6406.10046813, 6880.68779575,
       6765.18754677, 6865.2278509 , 6494.10165075, 6895.77512571,
       7375.23627066, 6856.07658959, 6976.37064071, 7753.54264261,
       7061.50159654, 7573.12451371, 6756.12602921, 7448.43747474,
       6800.36488794, 7118.87345117, 7995.60136535, 7459.47679382,
       7441.98813502, 8437.18081878, 7307.65264009, 8031.26304739,
       6813.33960209, 7459.47679382, 7301.30524022, 7710.32558748,
       6762.16548906, 7096.3097402 , 8154.54834194, 6975.32689529,
       6417.21374962, 7380.42656337, 7710.32558748, 6813.58460214,
       7843.11221313, 6819.33573682, 7291.29423028, 6624.16116675,
       7726.89325722, 8127.0452447 , 7259.94425045, 7864.95606163,
       6938.37392172, 6756.12602921, 6435.46202494, 7301.30524022,
       7311.39408509, 6433.65041946, 6640.4049305 , 7150.26747809,
       7635.41495343, 7654.03727379, 8261.35785309, 6928.99109353,
       7249.3341145 , 7634.0513551 , 7136.06021189, 7027.62514534,
       7130.50161926, 6567.6870448 , 7176.4955938 , 7056.50680877,
       7532.50074426, 7379.16036424, 6956.26703094, 7206.75076181,
       6854.03412775, 7799.07347223, 7076.02761318, 7472.3503102 ,
       7184.82149548, 7047.35665269, 7338.47062422, 7446.35093534,
       7499.49374666, 7070.95143954, 6724.48193674, 7670.29736762,
       6549.51992938, 7824.02146147, 6472.08505403, 7612.71682209,
       6640.4049305 , 7509.94140758, 6608.61242682, 6433.65041946,
       6260.58713277, 6987.54989573, 7726.89325722, 7167.73744661,
       7296.30120854, 7424.68796843, 6825.54388231, 7513.43263157,
       7649.98754111, 7407.34341681, 7263.55574299, 7296.30120854,
       7141.54738268, 6606.9907651 , 7469.92615039, 6522.94302862,
       7475.07103461, 7740.98791754, 7296.30120854, 6673.80534842,
       8347.33698554])

In [34]:
# Normalized Mean Absolute Error (Dividing by mean)
mae_test= mean_absolute_error(y_test,y_hat)/np.mean(y_hat)
print("Test Mean Abosulte Error: ",mae_test)

Test Mean Abosulte Error:  0.12230887751760179

In [35]:
# Normalized Mean Squared Error (Dividing by mean)
mse_test = mean_squared_error(y_test,y_hat)/np.mean(y_hat)
print("Test Mean Squared Error: ",mse_test)

Test Mean Squared Error:  216.766458891675